@using SWWeb.Models.Home

@model HomeModel

@{
    ViewBag.Title = "Loja Siteware";
}

<div class="jumbotron" style="margin-top:25px;">
    <h2>Saldão!</h2>
    <p class="lead">Aproveite as promoções imperdíveis!</p>
    <div class="container">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-4" style="border:thin solid rgba(227, 25, 51, 0.4); border-radius:15px; padding:15px;">
                <h4>@item.Name</h4>
                @if (item.Promotion != 0 && item.Promotion != null)
                {
                    <p class="alert-danger" style="font-size:10pt">Produto em promoção!</p>
                }
                else
                {
                    <p style="font-size:10pt">-</p> <!-- Isso só para todos os boxes de produto ficarem do mesmo tamanho -->
                }
                <h3 style="color:#E31933;">R$ @item.Price.ToString("0.00")</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control" type="number" min="1" value="1" style="margin-top:7px;" />
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-primary"><i class="glyphicon glyphicon-shopping-cart"> Comprar</i></a>
                    </div>
                </div>                
            </div>
        }
    </div>
</div>